form#hit_form {
  float: left;
  margin-right: 10px;
}

form#stay_form {
}

form#play_again {
  float: left;
  margin-right: 10px;
}

.card {
  margin-right:30px;
  margin-top: 10px;
  margin-bottom: 10px;
}